<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Car Price</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}" method="post">
      <select name="brand">
            <option value="" disabled selected>Select brand..</option>
            <option value="0">Mercedes</option>
            <option value="1">Audi</option>
            <option value="2">BMW</option>
            <option value="3">Volkswagen</option>
            <option value="4">Skoda</option>
            <option value="5">Hyundi</option>
            <option value="6">Toyota</option>
            <option value="7">Ford</option>
            <option value="8">Vauxhall</option>
      </select><br>
      <select name="transmission">
        <option value="" disabled selected>Select transmission type</option>
        <option value="1">Manuel</option>
        <option value="0">Others</option>
      </select>
      <input type="text" name="year" placeholder="Year" required="required"/>
      <input type="text" name="mileage" placeholder="Mileage" required="required"/>
      <input type="text" name="mpg" placeholder="Mpg" required="required"/>
      <input type="text" name="engineSize" placeholder="Engine Size" required="required"/>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   {{ prediction_text }}

 </div>


</body>
</html>